* 
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
  font-family: Arial;
  background-color: #FFEEEB;
}

.nav
{
  margin: 0;
  padding: 0;
}

.active 
{
  color: #E15B74 !important;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE3DE;
  color: black;
}

li 
{
  display: inline;
}

li a 
{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-weight: normal;
}

li b 
{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 18px;
  font-weight: bold;
  font-size: 20px; 
}

.dropdown 
{
  display: inline-block;
  color: black;
  text-align: center;
  padding: inherit;
  text-decoration: none;
  font-weight: normal;
}

.dropdown .dropbtn 
{ 
  font-size: inherit;
  border: none;
  outline: none;
  color: black;
  padding: 14px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #FFEEEB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li a:hover, .dropdown:hover .dropbtn
{
  color: #F7A79D !important;
}

.dropdown-content a:hover 
{
  background-color: #FFE3DE;
  color: #F7A79D;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.active-drop
{
  background-color: #FFE3DE !important;
  color: #E15B74 !important;
}

.row 
{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column 
{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img 
{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) 
{
  .column 
  {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) 
{
  .column 
  {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}